<link rel="stylesheet" href="/css/create.css">
<div class="post-form-container">
    <a href="/post/forum">Voltar</a>
    <h1>Criando Publicações: </h1>
    <form action="/post/add" method="POST">
    <div class="form-control">
        <input id="input" type="text" name="conteudo" placeholder="No que você está pensando?">
    </div>
    <input id="publicarBtn" type="submit" value="Publicar">
    </form>
</div>
