
<div class="posts-container">
    {{#each posts}}
        <figure>
            <blockquote>
                "{{this.conteudo}}"
            </blockquote>
            <figcaption><span>{{this.User.name}}</span></figcaption>
        </figure>


    {{/each}}
</div>

