@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kameron,serif;
    color:#2e377f;
}
body{
    color:#F3F3F3;
}
header{
    display:flex;
    background-color: #F3F3F3;
}
nav{
    position:absolute;
    width:25vw;
    height: 120vh;
    background-color: #F3F3F3;
    
}
#btnPublicar{
  margin-bottom: 5vh;
}
nav #olaX{
    background-color: #d9d9d9;
    height: 10vh;
    
}
nav #olaX h1{
    font-size: 25px;
    text-align: center;
}
nav #olaX img{
    width: 1.5vw;
    margin-left: 26vw;
    margin-top: 1vh;
    cursor: pointer;
}
nav li img{
    width: 3vw;
    height: 6vh;
    margin-top: 4vh;
}
nav li{
    list-style: none;
    padding:4px;
    
}
nav a{
    font-size:1.4vw;
    text-decoration:none;
    text-align: center;
    margin-left: 5vw;
}
.cabecalho{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw; 
    justify-content: center;
    align-content: start;
    grid-gap: 1vw;
    background-color: #d9d9d9;
}

#menu img{
    margin-top: 25px;
    width: 5vw;
    cursor: pointer;
}

#logo img{
    width: 8vw;
    margin-left: 68vw;
}

.corpo{
    background-color: #F3F3F3;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }

  #publicar{
    color:#D9D9D9;
    background-color:#2E377F;
    border: 0;
    border-radius: 5vw;
    width:15vw;
    cursor: pointer;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    padding: 10px;
    text-decoration: none;
  }
  
  .corpo h3 {
    margin-bottom: 1.5em;
  }
  
  .corpo ul {
    list-style: none;
  }
  
  .corpo li {
    padding: 12px;
    border-bottom: 1px solid #2E377F;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .corpo .label {
    font-weight: bold;
    color: #2E377F;
    margin-right: 2em;
  }
  
  .corpo .actions {
    display: flex;
  }
  
  .corpo .actions .btn {
    color: #D9D9D9;
    background-color: #2E377F;
    border-radius: 5vw;
    border-color: #2E377F;
    margin: 0 0.5em;
    padding: 10px;
    text-decoration: none;
    font-family: Kameron,serif;
  }
  
 
 

  #fim{
    background-color: #F3F3F3;
    height: 90vh;
  }
 
  /*COMENTARIOS*/
  #comentar{
    color:#D9D9D9;
    background-color:#2E377F;
    border: 0;
    border-radius: 5vw;
    width:12vw;
    cursor: pointer;
    margin-top: 2vh;
    margin-bottom: 4vh;
    padding: 8px;
    text-decoration: none;
    margin-left:40vw;
  }

  #verComentarios{
    color:#D9D9D9;
    background-color:#2E377F;
    border: 0;
    border-radius: 5vw;
    width:12vw;
    cursor: pointer;
    margin-top: 2vh;
    margin-bottom: 4vh;
    padding: 8px;
    text-decoration: none;
    margin-left:35vw;
  }


  /*SHOW POST*/
.home-header {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.home-header h1 {
  margin-bottom: 1em;
}

.home-header span {
  color: #2E377F;
}

.home-header p {
  margin-bottom: 1.2em;
}

.home-header form {
  margin-bottom: 1em;
}

.home-header input {
  border: none;
  border-bottom: 1px solid #D9D9D9;
  background-color: #D9D9D9;
  padding: 0.5em;
  margin-right: 1em;
  margin-top: 2vh;
}

.home-header input[type='text'] {
  width: 60%;
}

.home-header .btn{
  cursor: pointer;
}

.home-header input::placeholder {
  color: #2E377F;
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto 1em;
}

.order-container span {
  font-weight: bold;
  color: #2E377F;
}

.order-container form {
  margin: 0;
}

.order-container button {
  margin-bottom: 0;
  border: none;
  cursor: pointer;
}

.order-container button:hover,
.order-container a:hover {
  color: #2E377F;
}

.order-container span,
.order-container button,
.order-container a {
  margin: 0 10px;
}

.order-container i {
  color: #2E377F;
}

.posts-container figure {
  border-bottom: 1px solid #2E377F;
  padding: 0.5em;
  max-width: 50%;
  margin: 0 auto 1em;
}

.posts-container blockquote {
  font-style: Kameron,serif;
  font-size: 1em;
  margin-bottom: 0.4em;
}

.posts-container span {
  color: #2E377F;
}


@media only screen and (max-width: 650px){
  #menu{
    width: 10vw;
  }
  
 
  #logo img{
    width: 7rem;
    height: 7rem;
    margin-left: 50vw;
  }
  nav a{
    font-size:0.9rem;
    text-decoration:none;
    text-align: center;
    margin-left: 4vw;
  }
  .navimg{
    width: 3rem;
    height: 3rem;
    margin: 2rem, 0, 2rem, 0;
  }
  img{
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
  }
  nav #olaX img{
    width: 3vw;
    height: 3vh;
  }
  
  nav #olaX h1{
    font-size: 15px;
    text-align: start;
  }
  #btnPublicar{
    margin-right: 5vw;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-bottom: 4vh;
    padding: 10px;
  }
  #btnEntrar{
    width: 50vw;
    margin-right: 85vw;
    align-items: center;
  }
  #buscar{
    width: 18vw;
    height: 5vh;
    font-size: 4vw;
  }
  #buscando{
    width: 60vw;
    height: 5vh;
    font-size: 4vw;
  }
  #publiUser{
    width: 50vw;
  }
  .form-control{
    margin-left: 10vw;
  }
  li{
    margin-right: 10vw;
    width: 70vw;
  }

     
  
  
    
  
  }