
<link rel="stylesheet" href="/css/homeAutoavaliacao.css">

<h1>Autoavaliação</h1>

<div id="divExplicacao">
    <p id="explicacao">
        <p>A autoavaliação psicológica é uma ferramenta utilizada para diagnosticar possíveis sintomas de distúrbios 
            relacionados à saúde mental de uma forma dinâmica e simplificada. A autoavaliação disponibilizada a seguir 
            tem o intuito de fornecer ao usuário uma ideia prévia de seu estado psicológico, porém, não é uma ferramenta 
            validada por profissionais. Os dados aqui obtidos não devem ser interpretados como incontestáveis.</p>
    </p>
</div>

<div id="pergunta">
    <p>Selecione a Autoavaliação que você deseja fazer!</p>
</div>
<div class="btnOpc">
    <a href="/autoavaliacao/testeAnsiedade" ><button id="ansiedade">Ansiedade</button></a>
    <a href="/autoavaliacao/testeDepressao" ><button id="depressao">Depressão</button></a>
    <a href="/autoavaliacao/testeEstresse" ><button id="estresse">Estresse</button></a>
</div>
