<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/conteudos.css">
    <title>Ansiedade</title>
</head>
<body>
     
<div class="corpo">
        <h1>Ansiedade</h1>

        <h2>O que é ansiedade?</h2>
        <div class="explicacao">
        <p class="conteudo">
           Podemos definir ansiedade como uma preocupação intensa com acontecimentos cotidianos, um desconforto ou tensão, muitas vezes relacionada à antecipação de perigos. Infelizmente, o quadro de ansiedade vem se tornando extremamente ocorrente nos últimos anos, principalmente durante a pandemia de covid-19, onde as relações sociais foram reprimidas. 
        </p>
        </div>

        <h2>Como a ansiedade é desenvolvida?</h2>
        <div class="explicacao">
            <p class="conteudo">
            A ansiedade pode ser desencadeada por diversos fatores, como traumas sofridos, estresse constante, genética, doenças físicas e até mesmo depressão. Contudo, a ansiedade também pode ser ativada em situações cotidianas que causam certa pressão psicológica no indivíduo, acontecimentos que o deixam desconfortável, como por exemplo: ao fazer exames avaliativos, ao se deparar com um problema ou tarefa difícil, desafios diários, falta de atenção, brigas e discussões dentro do ambiente de convívio, etc. 
            </p>
        </div>

        <h2>Quais são os sintomas da ansiedade?</h2>
        <div class="divConteudos">
            <img class="imgConteudo" src="/imagens/ansiedadeSintomas.png"/>
        </div>
        
         

        <h2>O que fazer em momentos de crise?</h2>
        <div class="divConteudos">
            <img class="imgConteudo" src="/imagens/ansiedadeDicas.png"/>
        </div>

         <h2>O que também pode ajudar</h2>
        <div class="divConteudos">
            <img class="imgConteudo" src="/imagens/combateAnsiedade.png"/>
        </div>
    
    </div>

        

    <footer>
        
    </footer>
        
    <script>
        document.querySelector("nav").style.display="none";
        icon=document.querySelector("#menu");
        icon.onclick= function(){
            nav=document.querySelector("nav");
            if(nav.style.display=="none")
                nav.style.display="block";

            else 
                nav.style.display="none";
                
            }

        x = document.querySelector("#x");
        x.onclick=function(){
            nav=document.querySelector("nav");
            nav.style.display="none";
        }
    </script>
</body>